img {
    width: 100px;
    height: 100px;
}

.ProductWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ProductCard{
    display: flex;
    flex-flow: column;
    background: #e6f1e4;
    padding: 2rem;
    box-shadow: 12px 4px 14px 0.3px #ccc9c9;
    color: #2e2b2b;
    gap: 0.5rem;
}

h2 {
    text-transform: uppercase;
    background: #b2eec1;
    padding: 14px;
}